/* Добавьте эти стили в ваш файл стилей (например, container.css) или создайте новый файл стилей */
.user-profile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-profile-list .username-profile-info{
  border: none;
  padding: 7px;
  background-color: transparent;
}
.user-profile-list .description-profile-info{
  border: none;
  background-color: transparent;
}
.user-profile-list p {
  color: #868686;
  line-height: normal;
  font: 700 15px / normal sans-serif;
}
.user-profile .selected-tag{
    padding: 10px 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    border: 1px solid #000;
    font: 400 20px / normal sans-serif;
}
.user-profile .selected-tag:hover{
   background-color: transparent;
}
.user-profile {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 37px;
  margin-bottom: 30px;
  width: 100%;
  height: 219px;
  flex-shrink: 0;
  border-radius: 13px;
  border: 1px solid #000;
  background: #fbfbfb;
  cursor: pointer;
}

.user-profile img {
  border-radius: 50%;
  max-width: 173px;
  max-height: 173px;
  flex-shrink: 0;
  margin-right: 10px;
  background: lightgray 50% / cover no-repeat;
}

.user-profile-info {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 1;
  margin: 0 37px;
}

.user-profile h3 {
  color: #000;
  font-family: sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1; /* Установите line-height в 1 */
  margin-bottom: 25px; /* Добавьте немного отступа снизу для разделения заголовка и описания */
}

.user-profile p {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0; /* Установите отступы маргина на 0, чтобы убрать лишние отступы */
}

.user-profile-rate {
  display: flex;
  align-items: center;
}

.price {
  color: #0caa00;
  font-family: sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.time {
  color: #000;
  font-family: sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
